.notloggedin {
  position: relative;
  flex-grow: 2;
}
.title {
  font-size: 3rem;
  color: var(--secondary-color);
  position: absolute;
  width: max-content;
  word-break: keep-all;
  left: 50%;
  transform: translateX(-50%);
  top: 30%;
}
.title span {
  display: block;
  font-size: 2rem;
  text-align: center;
}
.popup {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 3rem;
  box-shadow: var(--light-shadow);
}
.popup form {
}
.inputGroup {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}
.popupForm input {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  color: var(--dark-text);
  padding: 0.5rem 0;
}
.popupForm input:focus {
  outline: var(--primary-color);
}
.popupForm label {
  font-size: 1.4rem;
}
.close {
  position: absolute;
  top: 8%;
  right: 4%;
  background-color: #ce2424;
  padding: 0.3rem 0.5rem;
  border-radius: 50%;
  user-select: none;
  cursor: pointer;
}
.submitbtn {
  cursor: pointer;
  padding: 1rem;
  background-color: var(--tertiary-color);
  display: inline-block;
  font-size: 1.7rem;
  user-select: none;
  color: var(--secondary-color);
  border: none;
}
