@font-face {
  font-family: Comfortaa;
  src: url(../fonts/Comfortaa.ttf);
}
.comfortaa {
  font-family: Comfortaa;
}
.mediumHeader {
  font-size: 2.5rem;
  font-weight: 600;
}
.mediumText {
  font-size: 2rem;
  font-weight: 400;
}
